{{!-- <div>
  <h1><span class="badge bg-secondary">{{make}} {{model}}</span></h1>
  <h2> <span class="badge bg-secondary">{{year}}, {{color}}</span></h2>

  <section>
    <h3>Особливості</h3>

    <p><i>Інтер'єр:</i></p>
    {{#with features}}
    <div>
      {{#with interior.seats}}
      <span>Сидіння:</span>
      <ul>
        <li>Матеріал: {{material}}</li>
        <li>Колір: {{color}}</li>
        <li>Підголовник: {{#if heated}} Так {{/if}}</li>
        <li>Вентильований: {{#if ventilated}} Так {{/if}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>

    <div>
      {{#with interior.dashboard}}
      <span>Передня панель:</span>
      <ul>
        <li>Матеріал: {{material}}</li>
        <li>Колір: {{color}}</li>
        <li>Дисплей: {{display.type}},{{display.size}}, {{display.resolution}}, {{#if display.touchscreen}} Так {{/if}}
        </li>
      </ul>
      {{/with}}
    </div>


    <hr>

    <div>
      {{#with interior.audio}}
      <span>Аудіо система:</span>
      <ul>
        <li>Система: {{system}}</li>
        <li>Колонок: {{speakers}}</li>
        <li>Підсилювач: {{#if subwoofer}} Так {{/if}}</li>
        <li>Блутуз: {{#if bluetooth}} Так {{/if}}</li>
        <li>USB: {{#if USB}} Так {{/if}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>
    <hr>

    <p><i>Ходова частина:</i></p>

    <div>
      {{#with exterior.wheels}}
      <span>Колеса:</span>
      <ul>
        <li>Розмір: {{size}}</li>
        <li>Тип: {{type}}</li>
        <li>Колір: {{color}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>

    <div>
      {{#with exterior.headlights}}
      <span>Фари:</span>
      <ul>
        <li>Тип: {{type}}</li>
        <li>Яскравість: {{brightness}}</li>
        <li>Автоматика: {{#if automatic}} Так {{/if}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>

    <div>
      {{#with exterior.sunroof}}
      <span>Люк:</span>
      <ul>
        <li>Тип: {{type}}</li>
        <li>Розмір: {{size}}</li>
        <li>Автоматика: {{#if automatic}} Так {{/if}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>
    <hr>

    <p><i>Безпека:</i></p>

    <div>
      {{#with safety.airbags}}
      <span>Подушки безпеки:</span>
      <ul>
        <li>Передні: {{front}}</li>
        <li>Бокові: {{side}}</li>
        <li>Колінні: {{knee}}</li>
        <li>Задні: {{rear}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>


    <div>
      {{#with safety.assistance}}
      <span>Допоміжні системи:</span>
      <ul>
        <li>Моніторинг сліпих зон: {{#if blind_spot_monitoring}} Так {{/if}}</li>
        <li>Попередження про перехресний рух ззаду: {{#if rear_cross_traffic_alert}} Так {{/if}}</li>
        <li>Попередження про виїзд зі смуги руху: {{#if lane_departure_warning}} Так {{/if}}</li>
        <li>Адаптивний круїз-контроль: {{#if adaptive_cruise_control}} Так {{/if}}</li>
        <li>Попередження зіткнення: {{#if collision_warning}} Так {{/if}}</li>
      </ul>
      {{/with}}
    </div>

    {{/with}}

    <hr>
    <hr>


    <div>
      <p><i>Двигун:</i></p>
      {{#with engine}}
      <ul>
        <li>Тип: {{type}}</li>
        <li>Об'єм: {{displacement}}</li>
        <li>Кінських сил: {{horsepower}}</li>
        <li>Крутний момент: {{torque}}</li>
        <li>Коробка передач: {{transmission.type}}</li>
        <li>К-сть передач: {{transmission.gears}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>
    <hr>


    <div>
      <p><i>Розхід пального:</i></p>
      {{#with fuel_economy}}
      <ul>
        <li>Місто: {{city}}</li>
        <li>Траса: {{highway}}</li>
        <li>Комбінований: {{combined}}</li>
      </ul>
      {{/with}}
    </div>

    <hr>
    <hr>


    <div>
      <p><i>Ціна:</i></p>
      {{#with price}}
      <ul>
        <li>Базова: {{base}}</li>
        <li>Призначення: {{destination}}</li>
        <ul><span>Додаткова комплектація:</span>
          <li>Навігація: {{options.navigation}}</li>
          <li>Люк: {{options.moonroof}}</li>
          <li>Фарба: {{options.premium_paint}}</li>
        </ul>
        <li>Загальна: {{total}}</li>
      </ul>
      {{/with}}
    </div>
    <hr>
    <hr>

  </section>

</div> --}}