<div>
	<span class="badge text-bg-primary">
		<h1>{{name}}</h1>
	</span>

	<section>

		<div>
			{{#each users}}
			<div>
				<div class="badge text-bg-primary">Ім'я: <b>{{name}}</b></div>
				<ul>
					<li>Id: {{id}}</li>
					<li>Стать: {{gender}}</li>
					<li>Вік: {{age}}</li>
					<div class="badge text-bg-success">Друзі:</div>
					{{#each friends}}
					<ul>
						<div>Ім'я: <b>{{name}}</b></div>
						<li>Id: {{id}}</li>
						<li>Стать: {{gender}}</li>
						<li>Вік: {{age}}</li>
						<ul>
							{{#each mutual_friends}}
							<div class="badge text-bg-warning">Друзі друзів:</div>
							<div>Ім'я: <b>{{name}}</b></div>
							<li>Id: {{id}}</li>
							<li>Стать: {{gender}}</li>
							<li>Вік: {{age}}</li>
							{{/each}}
						</ul>
						<ul>
							{{#each groups}}
							<div class="badge text-bg-danger">Групи друзів:</div>
							<ul>
								<div>Ім'я: <b>{{name}}</b></div>
								<li>Id: {{id}}</li>
								<li>Опис: {{description}}</li>
							</ul>
							{{/each}}
						</ul>
					</ul>
					{{/each}}
				</ul>
			</div>

			<div>
				{{#each groups}}
				<div class="badge text-bg-info">Групи:</div>
				<ul>
					<li>Id: {{id}}</li>
					<li>Ім'я: {{name}}</li>
					<li>Опис: {{description}}</li>
					{{#each members}}
					<div class="badge text-bg-dark">Підписники груп:</div>
					<ul>
						<div>Ім'я: {{name}}</div>
						<li>Id: {{id}}</li>
						<li>Стать: {{gender}}</li>
						<li>Вік: {{age}}</li>
					</ul>
					{{/each}}
				</ul>
				{{/each}}
			</div>

			{{/each}}
		</div>


























	</section>
</div>