{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
  <div class="card">
    <div class="card-body row">
      {{#with person}}
      <h2 class="col-6">{{name}}</h2>
      <h4 class="col-6 text-end">{{description}}</h4>
      {{/with}}
    </div>
  </div>

  <section>
    <h3>{{title}}</h3>
    <p>{{description}}</p>

    {{#with projects}}
    <div class="row">
      <div class="col-3">
        {{#each first}}
        {{#if isWarning}}
        <a href="{{link}}" target="_blank"><button class="btn btn-warning mb-2">{{name}}</button></a>
        {{/if}}
        {{/each}}
      </div>
      <div class="col-3">
        {{#each second}}
        {{#if isInfo}}
        <a href="{{link}}" target="_blank"><button class="btn btn-info mb-2">{{name}}</button></a>
        {{/if}}
        {{/each}}
      </div>

      <div class="col-3">
        {{#each third}}
        {{#if isDanger}}
        <a href="{{link}}" target="_blank"><button class="btn btn-danger mb-2">{{name}}</button></a>
        {{/if}}
        {{/each}}
      </div>

      <div class="col-3">
        {{#each fourth}}
        {{#if isSuccess}}
        <a href="{{link}}" target="_blank"><button class="btn btn-success mb-2">{{name}}</button></a>
        {{/if}}
        {{/each}}
      </div>

    </div>
    {{/with}}
  </section>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  --}}