<main>
  {{#with program}}
  <div class="card">
    <h1 class="card-header text-center">"{{excursion.name}}"</h1>
    <h4 class="card-title text-center">Де? - {{excursion.location.city}}, {{excursion.location.country}}. Коли? -
      {{excursion.date}}</h4>

    <hr>

    <div class="card-body">
      {{#each excursion.program}}

      <div class="row">
        <div class="col-3">
          <p><b>Програма:</b></p>
          <ul>
            <li>Назва: {{name}}</li>
            <li>Тип: {{type}}</li>
            <li>Тривалість: {{duration}}</li>
          </ul>
        </div>

        {{#with details.museum}}
        <div class="col-3">
          <p><b>Деталі програми:</b></p>
          <ul>
            <li>Місце: {{name}}</li>
            <li>Адреса: {{location.address}}</li>
            <li>Місто: {{location.city}}</li>
            <li>Країна: {{location.country}}</li>
          </ul>
        </div>

        <div class="col-3">
          {{#each exhibits}}
          <p><b>Експонати:</b></p>
          <ul>
            <li>Назва: {{name}}</li>
            <li>Художник:
              {{#if artist}}
              {{artist}}
              {{else}}
              {{/if}}
            </li>
            <li>Опис: {{description}}</li>
            {{#if audio_guide}}
            <em>Аудіо супровід</em>
            {{else}}
            {{/if}}
          </ul>
          {{/each}}
        </div>
        {{/with}}

        {{#with details.guide}}
        <div class="col-3">
          <p><b>Ведучий:</b></p>
          <ul>
            <li>Гід: {{name}}</li>
            <li>Мова: {{language}}</li>
            <li>Рейтинг: {{rating}}</li>
          </ul>
        </div>
        {{/with}}


        <div class="col-3">
          {{#with details.venue}}
          <p><b>Деталі програми:</b></p>
          <ul>
            <li>Місце: {{name}}</li>
            <li>Адреса: {{location.address}}</li>
            <li>Місто: {{location.city}}</li>
            <li>Країна: {{location.country}}</li>
          </ul>
          {{/with}}
        </div>

        {{#if details.performers}}
        <div class="col-3">
          <p><b>Виконавці:</b> </p>
          {{#each details.performers}}
          <ul>
            <li>{{name}}</li>
            <li>{{type}}</li>
          </ul>
          {{/each}}
        </div>
        {{/if}}
        <hr>


      </div>
      {{/each}}
    </div>

  </div>
  {{/with}}
</main>