<main>
	<div> {{! навігація}}
		{{#with navigation}}
		<div class="card">
			<div class="nav">
				{{#each links}}
				<div class="nav-item">
					<a href="{{href}}" class="nav-link">{{text}}</a>
				</div>
				{{/each}}
				<a href="#" class="nav-link disabled">Disabled</a>
			</div>
		</div>
		{{/with}}
	</div>

	<section>
		<div class="p-0 mt-5">
			<h3>{{header}}</h3>
		</div>

		<div class="row">
			{{#with purchase}}
			<div class="nav">
				{{#each tabs}}
				<div>
					<div class="nav nav-tabs">
						<div class="nav-item">
							<a class="nav-link" href="#">{{this}}</a>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			{{#with actionBlock}}
			<div class="col-4 ps-0 mt-3">
				{{#with input}}
				<input type="text" class="form-control" placeholder="{{placeholder}}">
				{{/with}}
			</div>
			<div class="col ps-0 mt-3">
				{{#each buttons}}
				{{#if isSuccess}}
				<button class="btn btn-success">{{text}}</button>
				{{/if}}
				{{#if isOutline}}
				<button class="btn btn-outline-success">{{text}}</button>
				{{/if}}
				{{#if isDanger}}
				<button class="btn btn-outline-danger">{{text}}</button>
				{{/if}}
				{{/each}}
			</div>
			{{/with}}
			{{/with}}
		</div>

		<hr>

		<div>
			{{#with purchase}}
			{{#each itemList}}
			<div class="row">
				<div class="col-4">
					<p>{{number}}</p>
					<b>{{status}}</b>
				</div>

				<div class="col-2">
					{{#with amount}}
					<p>{{title}}</p>
					<p>{{value}}</p>
					{{/with}}
				</div>

				{{#each images}}
				<div class="col-1 px-1">
					<div class="row">
						<img src="{{this}}" alt="image">
					</div>
				</div>
				{{/each}}

				<div class="col-2">
					{{#with button}}
					{{#if isPrimary}}
					<a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
					{{/if}}
					{{/with}}
				</div>
			</div>

		</div>
		<hr>
		{{/each}}
		{{/with}}
		<hr class="mt-5">

		<div>
			{{#with userInfo}}
			<h3 class="mt-5 mb-5">{{title}}</h3>
			<div class="card p-2">
				{{#with profileData}}
				<h3 class="card-title pt-2 pb-2">{{title}}</h3>
				<div class="card body">
					{{#with fullName}}
					<div class="row p-2">
						<div class="col-4 ">
							{{#with surname}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
						<div class="col-4">
							{{#with name}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
						<div class="col-4">
							{{#with middleName}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
					</div>
					{{/with}}
				</div>

				<div class="card body mt-3">
					{{#with otherInfo}}
					<div class="row p-2">
						<div class="col-4 ">
							{{#with birthday}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
						<div class="col-4">
							{{#with sex}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
						<div class="col-4">
							{{#with language}}
							<p class="mb-2">{{title}}</p>
							<b>{{value}}</b>
							{{/with}}
						</div>
					</div>
					{{/with}}
				</div>
				{{/with}}

				<div class="card body p-2 mt-3">
					<div class="row">
						{{#each buttons}}
						<div class="col-4">
							{{#if isPrimary}}
							<button class="btn btn-primary">{{text}}</button>
							{{/if}}
							{{#if isSecondary}}
							<button class="btn btn-secondary">{{text}}</button>
							{{/if}}
							{{#if isDanger}}
							<button class="btn btn-danger">{{text}}</button>
							{{/if}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>

			<div class="card p-2 mt-3">
				{{#with recipients}}
				<h3 class="card-title pt-2 pb-2">{{title}}</h3>
				<div class="row">
					{{#each users}}
					<div class="col-4">
						<div class="card body p-2">
							<b>{{name}}</b>
							<p>{{phone}}</p>
							{{#with button}}
							<a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
							{{/with}}
						</div>
					</div>
					{{/each}}
				</div>
				{{/with}}
			</div>

			<div class="card p-2 mt-3">
				{{#with contacts}}
				<h3 class="card-title pt-2 pb-2">{{title}}</h3>
				<div class="row">
					{{#each contactData}}
					<div class="col-4">
						<div class="card body p-2">
							<b>{{title}}</b>
							<p>{{value}}</p>
							{{#with button}}
							{{#if isPrimary}}
							<a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
							{{/if}}
							{{#if isSecondary}}
							<a href="{{link}}"><button class="btn btn-outline-secondary">{{text}}</button></a>
							{{/if}}
							{{#if isDanger}}
							<a href="{{link}}"><button class="btn btn-outline-danger">{{text}}</button></a>
							{{/if}}
							{{/with}}
						</div>
					</div>
					{{/each}}
				</div>
				{{/with}}
			</div>

			{{/with}}
		</div>

		<div class="row mt-5">
			<hr>
			{{#each footer}}
			<div class="col-2">
				{{#each this}}
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{{link}}">{{text}}</a>
					</li>
				</ul>
				{{/each}}
			</div>
			{{/each}}
		</div>


	</section>
</main>