<main>
	<h1 class="text-center">{{page_header.title}}</h1>
	<p class="text-uppercase text-center">{{page_header.description}}</p>
	{{#with section}}

	<section class="card">
		{{#with about_us}}
		<div class="card-body">
			{{#with title_list}}
			<div class="display-6 text-end">{{main}}</div>
			<h2 class="text-end">{{sub}}</h2>
			{{/with}}
			<button type="button" class="btn btn-outline-info">{{button.text}}</button>
		</div>
		{{/with}}
	</section>

	<br>

	<section class="card">
		{{#with advantage}}
		<div class="display-5 text-muted">{{title}}</div>
		<br>
		<div class="card">
			<div class="card-body">
				{{#with efficiency}}
				<div class="display-4 text-muted">{{title}}</div>
				<h6>{{sub_title}}</h6>
				<p>{{description}}</p>
				<button type="button" class="btn btn-outline-warning">{{button}}</button>
				{{/with}}
			</div>
		</div>

		<br>

		<div class="card">
			<div class="card-body">
				{{#with innovation}}
				<div class="display-4 text-muted text-center">{{title}}</div>
				<h6 class="text-center">{{sub_title}}</h6>
				<p class="text-center">{{description}}</p>
				<button type="button" class="btn btn-outline-warning">{{button}}</button>
				{{/with}}
			</div>
		</div>

		<br>

		<div class="card">
			<div class="card-body">
				{{#with collaboration}}
				<div class="display-4 text-muted text-end">{{title}}</div>
				<h6 class="text-end">{{sub_title}}</h6>
				<p class="text-end">{{description}}</p>
				<button type="button" class="btn btn-outline-warning">{{button}}</button>
				{{/with}}
			</div>
		</div>
		{{/with}}
	</section>

	<br>

	<section class="card">
		{{#with agreement}}
		<div class="display-5">{{title}}</div>
		<br>
		<div class="card">
			{{#with info}}
			<div class="card-body">
				<h5>{{sub_title}}</h5>
				<br>
				{{#with detail}}
				<div class="card">
					<div class="card-body">
						<p>{{text}}</p>
						<button type="button" class="btn btn-success">{{button}}</button>
					</div>
				</div>
				{{/with}}
			</div>
			{{/with}}
		</div>
		{{/with}}
	</section>

	{{/with}}
</main>