<main>
	<section class="card">
		{{#with heading}}
		<div class="card">
			<div class="card-body">
				{{#with main}}
				<h1>{{title}}</h1>
				<p>{{text}}</p>
				<button type="button" class="btn btn-primary">{{button_text.solid}}</button>
				<button type="button" class="btn btn-outline-primary">{{button_text.solid}}</button>
				{{/with}}
			</div>
		</div>
		<br>
		<div class="card">
			<div class="card-body">
				{{#with second}}
				<h2>{{title}}</h2>
				<p>{{text}}</p>
				<button type="button" class="btn btn-secondary">{{button_text.solid}}</button>
				<button type="button" class="btn btn-outline-secondary">{{button_text.solid}}</button>
				{{/with}}
			</div>
		</div>
		<br>
		<div class="card">
			<div class="card-body">
				{{#with subblock}}
				<h3>{{title}}</h3>
				<p>{{text}}</p>
				<button type="button" class="btn btn-dark">{{button_text.solid}}</button>
				<button type="button" class="btn btn-outline-dark">{{button_text.solid}}</button>
				{{/with}}
			</div>
		</div>
		{{/with}}
	</section>
	<br>
	<section class="card">
		{{#with nested_display}}
		<div class="display-1">{{title}}</div>
		<div class="card">
			<div class="card-body">
				{{#with children_display}}
				<div class="display-4">{{title}}</div>
				<p>{{text}}</p>
				<button type="button" class="btn btn-outline-warning">{{button.text}}</button>
				{{/with}}
			</div>
		</div>
		<br>
		<h6>{{header_text}}</h6>

		<span>
			<button type="button" class="btn btn-info">{{button.text}}</button>
		</span>

		{{/with}}
	</section>
	<br>
	<section class="card">
		{{#with paragraph}}
		<p class="text-uppercase">{{title}}</p>
		<p class="text-lowercase">{{text}}</p>
		<span>
			<a href="https://google.com" class="btn btn-link">{{button.text}}</a>
		</span>
		<div class="card">
			<div class="card-body">
				<ul>
					<li><a href="{{list_name.[0].url}}" class="btn btn-link">{{list_name.[0].text}}</a></li>
					<li><a href="{{list_name.[1].url}}" class="btn btn-link">{{list_name.[1].text}}</a></li>
				</ul>
			</div>
		</div>
		{{/with}}
	</section>
</main>