{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


{{#with main}}
<div class="card">
   <div class="card-header text-center">
      {{> title big=true data="Work history"}}
   </div>
   <div class="card-body">
      <div class="row">

         <div class="col-6">
            <div class="card">
               <h5 class="card-title text-center p-2">Job</h5>
               <ul>
                  {{#each works}}
                  <li>
                     <div>
                        {{position}}
                     </div>
                     <div>
                        {{duration.from}} -
                        {{#if duration.to}}
                        {{duration.to}}
                        {{else}}
                        (працюємо)
                        {{/if}}
                     </div>
                     <div>
                        {{#if company.url}}
                        {{> link text=company.name href=company.url blank=true noLine=true}}
                        {{else}}
                        <b>{{company.name}}</b>
                        {{/if}}
                     </div>
                  </li>
                  {{/each}}
               </ul>
            </div>
         </div>

         <div class="col-6">
            <div class="card">
               {{#each works}}
               <h5 class="card-title text-center p-2">Projects ({{profectAmount}})</h5>

               <ul>
                  {{#each projects}}

                  <div>
                     {{> link text=name href=url blank=true noLine=true}}
                  </div>
                  <div>
                     <p>{{about}}</p>
                  </div>
                  <em>Project stacks ({{stackAmount}})</em>
                  <ul>
                     {{#each stacks}}
                     <li>{{name}}</li>
                     {{/each}}
                  </ul>
                  <em>Project awards</em>
                  <ul>
                     {{#each awards}}
                     <li>{{name}}</li>
                     {{/each}}
                  </ul>

                  {{/each}}
               </ul>

               {{/each}}
            </div>
         </div>
      </div>
   </div>


</div>
{{/with}}


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}