<div>
	{{#with purchase}}
	{{#each itemList}}
	<div class="row">
		<div class="col-4">
			<p>{{number}}</p>
			<b>{{status}}</b>
		</div>

		<div class="col-2">
			{{#with amount}}
			<p>{{title}}</p>
			<p>{{value}}</p>
			{{/with}}
		</div>

		<div class="col-4">
			{{#each images}}
			<img src="{{this}}" alt="image" class="p-1">
			{{/each}}
		</div>

		<div class="col-1">
			{{#with button}}
			{{#if isPrimary}}
			<a href="{{link}}"><button class="btn btn-primary text-light m-4">{{text}}</button></a>
			{{/if}}
			{{/with}}
		</div>
	</div>
	<hr>
	{{/each}}
	{{/with}}
</div>